.admin-container {
  display: flex;

  .admin-sidebar {
    height: 100vh !important;

    .pro-sidebar {}
  }

  .admin-content {
    width: 100%;

    .admin-header {
      height: 60px;
      border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 10px;
      .leftside{
        cursor: pointer;
        font-size: 20px;
        color: #666666;
      }
      .rightside{
        display: flex;
        gap: 15px;
      }
    }

    .admin-main {
      margin-bottom: 10px;
      height: calc(100vh - 40px);
    }
  }
}

.sidebar-btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar-btn {
    padding: 1px 15px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #adadad;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      margin-left: 5px;
      font-size: 13px;
    }

    &:hover {
      color: white
    }
  }
}